/** ADD YOUR AWESOME CODES HERE **/

/* ** staff social networks */
.tutors_socnav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tutors_socnav li{
    padding: 3px;
}


/* posts styles */
.post-thumb{
    max-width: 300px;
    max-height: 250px;
}